bootstrap/bin/**
private_dot_config/zsh/dot_antidote
private_dot_config/zsh/dot_antidote/
private_dot_config/zsh/dot_cache/
private_dot_config/zsh/dot_external/
private_dot_config/zsh/dot_plugins/
private_dot_config/zsh/dot_unplugged/
private_dot_config/zsh/dot_zcompcache/
private_dot_config/zsh/dot_zcompdump
private_dot_config/zsh/dot_zcompdump*
private_dot_config/zsh/dot_zdirs
private_dot_config/zsh/dot_zhistory
private_dot_config/zsh/zplugins/
private_dot_config/zsh/dot_zplugins/
private_dot_config/zsh/dot_zsh_history
private_dot_config/zsh/dot_zsh_plugins.zsh
private_dot_config/zsh/dot_zsh_sessions/
private_dot_config/zsh/*dot_cache
private_dot_config/zsh/*dot_.bak
private_dot_config/zsh/*dot_.local
private_dot_config/zsh/*dot_.local.zsh
private_dot_config/zsh/**/*.zwc
private_dot_config/zsh/**/*.zwc.old
private_dot_config/zsh/dot_zplugins.zsh
private_dot_config/zsh/~*
private_dot_config/zsh/dot_zlocal
private_dot_config/ranger/__pycache__
private_dot_config/ranger/__pycache__/
