##################
## TMUX OPTIONS ##
##################

# This tells apps inside tmux (like Neovim) that they are in a 256-color tmux session.
set -g default-terminal "tmux-256color"

# This handles True Color (RGB), Undercurls, and Extended Keys for Kitty.
# We use xterm-kitty specifically to ensure Kitty features are mapped correctly.
set -as terminal-features ",xterm-kitty:RGB"
set -as terminal-features ",xterm-kitty:undercurl"
set -as terminal-features ",xterm-kitty:extkeys"
set -as terminal-overrides ",xterm*:Tc" # true color
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'
set -as terminal-overrides ',*:Setrgb=\E[48;2;%p1%d;%p2%d;%p3%dm'

# Extended Keys Logic (Keep your existing settings)
set -gs extended-keys on
set -g extended-keys-format csi-u

set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on
set-window-option -g automatic-rename off

set -g mouse on
set -g @yank_action 'copy-pipe'

set -g allow-passthrough on

run-shell "tmux set-option -g default-shell $(command -v zsh)"

# give enough time to pick the fing pane
set -g display-panes-time 4000

#################
## KEYBINDINGS ##
#################
unbind C-b
set-option -g prefix C-a
bind C-a send-prefix

bind a run-shell "~/.local/bin/tmux-attach"

bind -n C-PPage previous-window
bind -n C-NPage next-window

# bind -n M-H resize-pane -L 2
# bind -n M-L resize-pane -R 2
# bind -n M-K resize-pane -U 2
# bind -n M-J resize-pane -D 2

bind  c  new-window      -c "#{pane_current_path}"
bind  %  split-window -h -c "#{pane_current_path}"
bind '"' split-window -v -c "#{pane_current_path}"

# Toggle '_' prefix on the current window name to hide/show it in the status bar
bind h run-shell 'tmux rename-window "#{?#{m:_*,#W},#{s/^_//:#W},_#W}"'

bind-key -n C-S-Left swap-window -t -1\; select-window -t -1
bind-key -n C-S-Right swap-window -t +1\; select-window -t +1

# go to the top/first pane and maximize it
bind Z select-pane -t 1 \; resize-pane -Z

bind r source-file ~/.config/tmux/tmux.conf \; display "Config reloaded!"

#############
## PLUGINS ##
#############
set -g @plugin 'tmuxpack/tpack'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'lloydbond/tmux-floating-terminal'

set -g @floating_scratch_term 'C-t'

###################
## ONEDARK THEME ##
###################

set-option -g status-style "bg=default"
set-option -g mode-style "reverse"

# Messages
set-option -g message-style "bg=default,fg=green"

# Center
set-option -g status-justify centre
set-window-option -g window-status-current-format "#{?#{m:_*,#W},,#[fg=green]#[bg=default]#[fg=black]#[bg=green]#[bold] #I #W #{?window_zoomed_flag,(ZOOMED),} #[fg=green]#[bg=default]}"
set-window-option -g window-status-format "#{?#{m:_*,#W},, #I #W }"

set-window-option -g window-status-separator ' '
set-window-option -g window-status-style "bg=default"

# Left
set-option -g status-left '#{prefix_highlight}'
set -g @prefix_highlight_show_copy_mode 'on'
set -g @prefix_highlight_copy_mode_attr 'fg=black,bg=yellow,bold'
set -g @prefix_highlight_show_sync_mode 'on'
set -g @prefix_highlight_sync_mode_attr 'fg=black,bg=green'
set -g @prefix_highlight_copy_prompt 'COPY'
set -g @prefix_highlight_sync_prompt 'SYNC'

# Right
set-option -g status-right "#[fg=white,bg=red,bold] #S #[default]"

##########
## INIT ##
##########
run 'tpack init'
