# Default shell
{{ if (eq .chezmoi.os "darwin") -}}
shell /bin/zsh --login
{{ else if (eq .chezmoi.os "linux") -}}
shell /usr/bin/zsh --login
{{ end -}}

# Fonts
{{ if (eq .chezmoi.os "darwin") -}}
font_family Fira Code
{{ else if (eq .chezmoi.os "linux") -}}
font_family FiraCode Nerd Font Mono
{{ end -}}
font_size 12.0

# Symbol mapping (Nerd Font Icons)
symbol_map U+E000-U+E00A,U+E200-U+E2A9,U+E300-U+E3E3,U+E5FA-U+E6B1,U+E700-U+E7C5,U+EA60-U+EBEB,U+F000-U+F2E0,U+F300-U+F372,U+F400-U+F532,U+F500-U+FD46,U+F0001-U+F1AF0 Symbols Nerd Font Mono
narrow_symbols U+E0A0-U+E0A3,U+E0C0-U+E0C7 1

# Cursor
cursor_trail 1
cursor_trail_decay 0.01 0.45
cursor_trail_start_threshold 0

# Scrollback
scrollback_lines 10000

# Blur
{{ if (eq .chezmoi.os "darwin") -}}
background_blur 30
{{ else if (eq .chezmoi.os "linux") -}}
background_blur 1
{{ end -}}
background_opacity 0.85

# Remote control for scripting
allow_remote_control yes
listen_on unix:/tmp/kitty

# --- Tab Bar ---
# tab_bar_min_tabs 1
tab_bar_edge bottom
tab_bar_style powerline
tab_powerline_style slanted
tab_bar_background none
tab_bar_margin_color none
active_tab_font_style bold
inactive_tab_font_style normal
tab_title_template "{index}: {title}"

# --- Keybindings ---
map ctrl+alt+e set_tab_title

# --- Theme ---
# Automatic theme switching is managed by Kitty using the .auto.conf files.
# No explicit include is needed for current-theme.conf if you want it to follow system theme.
# By default, no-preference-theme it's actually a light theme
