return {
  {
    "folke/sidekick.nvim",
    dependencies = {
      "TheNoeTrevino/haunt.nvim",
    },
    opts = function()
      local haunt_sk = require("haunt.sidekick")
      return {
        cli = {
          mux = {
            enabled = true,
            backend = "tmux",
          },
          win = {
            split = {
              width = math.floor(vim.o.columns * 0.30), -- 30% of visible window
            },
          },
          prompts = {
            haunt_all = function()
              return haunt_sk.get_locations()
            end,
            haunt_buffer = function()
              return haunt_sk.get_locations({ current_buffer = true })
            end,
          },
        },
      }
    end,
    keys = {
      {
        "<c-.>",
        false,
        mode = { "n", "t", "i", "x" },
      },
    },
  },

  {
    "TheNoeTrevino/haunt.nvim",

    opts = {
      picker = "snacks",
      picker_keys = {
        delete = { key = "d", mode = { "n" } },
        edit_annotation = { key = "a", mode = { "n" } },
      },
    },

    -- stylua: ignore
    init = function()
      local haunt = require("haunt.api")
      local haunt_picker = require("haunt.picker")
      local map = vim.keymap.set
      local prefix = "<leader>h"

      -- annotations
      map("n", prefix .. "a", function() haunt.annotate() end, { desc = "Annotate" })
      map("n", prefix .. "t", function() haunt.toggle_annotation() end, { desc = "Toggle annotation" })
      map("n", prefix .. "T", function() haunt.toggle_all_lines() end, { desc = "Toggle all annotations" })
      map("n", prefix .. "d", function() haunt.delete() end, { desc = "Delete bookmark" })
      map("n", prefix .. "C", function() haunt.clear_all() end, { desc = "Delete all bookmarks" })
      -- move
      map("n", prefix .. "p", function() haunt.prev() end, { desc = "Previous bookmark" })
      map("n", prefix .. "n", function() haunt.next() end, { desc = "Next bookmark" })
      -- picker
      map("n", prefix .. "l", function() haunt_picker.show() end, { desc = "Show Picker" })
      -- quickfix
      map("n", prefix .. "q", function() haunt.to_quickfix() end, { desc = "Send Hauntings to QF Lix (buffer)" })
      map("n", prefix .. "Q", function() haunt.to_quickfix({ current_buffer = true }) end, { desc = "Send Hauntings to QF Lix (all)" })
      -- yank
      map("n", prefix .. "y", function() haunt.yank_locations({current_buffer = true}) end, { desc = "Send Hauntings to Clipboard (buffer)" })
      map("n", prefix .. "Y", function() haunt.yank_locations() end, { desc = "Send Hauntings to Clipboard (all)" })
    end,
  },

  {{ if eq .chezmoi.hostname "GFT-GJD4Y36T5V" }}
  {
    "zbirenbaum/copilot.lua",
    cond = false,
  },
  {{ end }}
}
