local wezterm = require("wezterm") -- Load the wezterm API
local act = wezterm.action

local M = {}

M.setup = function(config)
	config.window_frame = {
    {{ if (eq .chezmoi.os "darwin") }}
		font = wezterm.font({ family = "Fira Code", weight = "Bold" }),
    {{ else if (eq .chezmoi.os "linux") }}
		font = wezterm.font({ family = "FiraCode Nerd Font Mono", weight = "Bold" }),
    {{ end }}

		-- The size of the font in the tab bar.
		-- Default to 10.0 on Windows but 12.0 on other systems
		font_size = 12.0,

		-- The overall background color of the tab bar when
		-- the window is focused
		active_titlebar_bg = "#333333",

		-- The overall background color of the tab bar when
		-- the window is not focused
		inactive_titlebar_bg = "#333333",
	}

	config.keys = {
		{
			key = "e",
			mods = "CTRL|ALT",
			action = act.PromptInputLine({
				description = "Enter new name for tab",
				action = wezterm.action_callback(function(window, pane, line)
					-- line will be `nil` if they hit escape without entering anything
					-- An empty string if they just hit enter
					-- Or the actual line of text they wrote
					if line then
						window:active_tab():set_title(line)
					end
				end),
			}),
		},
	}
end

return M
