local private_exists, private_config = pcall(require, "private") -- Load private config if it exists
local wezterm = require("wezterm") -- Load the wezterm API

local M = {}

M.setup = function(config)
  -- tabs
	config.use_fancy_tab_bar = true
	config.tab_bar_at_bottom = true

  --colorscheme
	config.color_scheme = "Tokyo Night"
	if private_exists and private_config ~= nil and private_config.color_scheme then
		config.color_scheme = private_config.color_scheme
	end

  -- font
	config.font_size = 12.0
  {{ if (eq .chezmoi.os "darwin") }}config.font = wezterm.font("Fira Code"){{ else if (eq .chezmoi.os "linux") }}config.font = wezterm.font("FiraCode Nerd Font Mono"){{ end }}

  -- scrollback
	config.scrollback_lines = 10000

  -- borders
	config.underline_thickness = 2
	config.colors = { split = "#00cafc" }

	-- Slightly transparent and blurred background
	config.window_background_opacity = 0.9
	config.macos_window_background_blur = 30
end

return M
