#! /bin/env bash

#TODO: make this idempotent

tpm_path=~/.tmux/plugins/tpm
[[ -d $tpm_path ]] || {
	substep "cloning tpm..."
	git clone https://github.com/tmux-plugins/tpm $tpm_path
}

. ~/.asdf/asdf.sh

substep "installing tmuxinator..."
gem install tmuxinator
wget https://raw.githubusercontent.com/tmuxinator/tmuxinator/master/completion/tmuxinator.zsh -O $ZDOTDIR/completions/_tmuxinator
