{{- if eq .chezmoi.hostname "macbook-fedora-omarchy" -}}
# Keep omedora's mise from reading asdf's ~/.tool-versions (see zsh/.zshenv).
MISE_OVERRIDE_TOOL_VERSIONS_FILENAMES=.asdf-tool-versions
{{ end -}}
